[Desktop Entry]
Name=reRemarkable
Comment=A free, fully featured markdown editor for Linux.
Categories=GNOME;Utility;
Exec=/opt/reRemarkable/run.sh %f
Icon=/opt/reRemarkable/data/media/remarkable.png
Terminal=false
Type=Application
